.header {
background-color: darkseagreen;
padding: 20px;
padding-bottom: 0;
margin-bottom: 0;
}

.main-content {
display: flex;
flex-direction: row-reverse;
justify-content: left;
}

.main {
background-color: lightblue;
padding: 20px;
}

.side-nav {
padding: 20px;
background-color: aqua;
margin-left: 20px;
}

body {
margin: 0;
}

.footer {
background-color: darkslategray;
}